@model List<Educational_Process.Models.StudentPerformance>

@{
    ViewData["Title"] = "StudentPerformancePage";
}

<form asp-controller="StudentPerformance" asp-action="Index">
    <p>
        Поиск: <input type="text" name="SearchString" />
        <input type="submit" value="Поиск" />
    </p>
</form>

<br />

@Html.ActionLink("Добавить успеваемость", "Add")

<br />

@Html.ActionLink("Скачать полный отчет", "Download", new { subjectId = "" })

<br />

<form asp-action="Download" method="get" class="form-inline ml-auto">
    <p>Скачать отчет по предмету</p>
    <div class="form-inline">
        <select name="subjectId" asp-items="ViewBag.Subject"></select>
    </div>
    <button class="btn btn-primary" type="submit">Скачать</button>
</form>

<br />
@Html.ActionLink("Студенты с тройками", "Index", new { sort = "with3" }) |
@Html.ActionLink("Студенты без троек", "Index", new { sort = "without3" }) |
@Html.ActionLink("Студенты отличники", "Index", new { sort = "higherThan8" }) |
@Html.ActionLink("Студенты не сдавшие", "Index", new { sort = "notpassed" }) |
<table class="table">
    <thead>
        <tr>
            <th>Студент</th>
            <th>Группа</th>
            <th>Предмет</th>
            <th>Дата сдачи</th>
            <th>Оценка</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @($"{item.Student.SecondName} {item.Student.FirstName} {item.Student.ThirdName}")
                </td>
                <td>
                    @($"{item.Student.Group.Name}")
                </td>
                <td>
                    @($"{item.Subject.Name}")
                </td>
                <td>
                    @Html.DisplayFor(model => item.ExamDate)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Mark)
                </td>

                <td>
                    @Html.ActionLink("Изменить  ", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Подробнее ", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Удалить ", "Delete", new { id = item.Id })
                </td>

            </tr>
        }
    </tbody>
</table>